# my custom files
venv
testings.ipynb
app/templates/sales_add copy.html
app/templates/sales_edit copy.html


# Ignore .env file containing sensitive data
.env

# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment directories
venv/
env/

# IDEs and editor settings
.vscode/
.idea/

# Docker-related
Dockerfile*
.dockerignore
