{% extends "layout.html" %}

{% block content %}
    <div class="mt-5">
        <form action="{{ url_for('main.login') }}" method="POST">
            {{ form.csrf_token() }}
            <fieldset class="form-group">
                <legend>Login User or Admin</legend>

                <!-- Username Field -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        {% for error in form.username.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>

                <!-- Password Field -->
                <div class="form-group mt-3">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        {% for error in form.password.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>

                <div class="container-buttons">
                    <!-- Submit Button -->
                    <div class="form-group mt-3">
                        {{ form.submit(class="btn btn-primary w-100") }}
                    </div>
                    <a href="{{ url_for('main.admin_signup') }}", class="btn btn-secondary">Admin Signup</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
